# Ayudantía Introductoria a Python

**Ayudante: Thomas Buddemberg**

**Mail: tbuddemberg@alumnos.uai.cl**

**Whatsapp: +569 7532 8800**

In [197]:
print('Hello, world!')

Hello, world!

In [2]:
print(1 + 2)

3

In [3]:
1 + 2

3

In [198]:
1 + 2
print(1 - 2)

-1

In [196]:
print(1 - 2)
1 + 1

-1

2

In [17]:
print(1 - 2)
print(1 + 1)

-1
2

You can actually do a lot of calculations with python!  See the table below for some examples.

<table style="width: 100%;">
<tbody>
<tr><th><b>Operation</b></th><th><b>Symbol</b></th><th><b>Example</b></th></tr>
<tr>
<td>Addition</td>
<td>+</td>
<td>1 + 2 = 3</td>
</tr>
<tr>
<td>Subtraction</td>
<td>-</td>
<td>5 - 4 = 1</td>
</tr>
<tr>
<td>Multiplication</td>
<td>*</td>
<td>2 * 4 = 8</td>
</tr>
<tr>
<td>Division</td>
<td>/</td>
<td>6 / 3 = 2</td>
</tr>
<tr>
<td>Exponent</td>
<td>**</td>
<td>3 ** 2 = 9</td>
</tr>
</tbody>
</table>

In [11]:
print(((1 + 1) * (4 - 2) / 2) ** 2)

4.0

In [12]:
4_menos_5 = 4 - 5

print(4_menos_5)

SyntaxError: invalid decimal literal (Temp/ipykernel_31300/1788332256.py, line 1)

In [199]:
_4_menos_5 = 4 - 5

print(_4_menos_5)

-1

In [200]:
_4 menos_5 = 4 - 5

print(_4 menos_5)

SyntaxError: invalid syntax (Temp/ipykernel_31300/368667797.py, line 1)

In [18]:
var = 3
print(var)
var = 100
print(var)

3
100

In [19]:
print(var)
var = var + 2
print(var)

100
102

In [20]:
num_años = 4
diasxaño = 365 
horasxdia = 24
minxhora = 60
segxmin = 60

segundos_totales = segxmin * minxhora * horasxdia * diasxaño * num_años
print(segundos_totales)

126144000

In [21]:
diasxaño = 365.25

segundos_totales = segxmin * minxhora * horasxdia * diasxaño * num_años
print(segundos_totales)
print

126230400.0

# Help y funciones

In [203]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [204]:
print('Hola, Thomas' end=' \ ')

Hola, Thomas \

In [27]:
def diferencias(a, b, c):
    dif1 = abs(a - b)
    dif2 = abs(b - c)
    dif3 = abs(a - c)
    return min(dif1, dif2, dif3)

In [28]:
print(
    diferencias(1, 10, 100),
    diferencias(1, 10, 10),
    diferencias(5, 6, 7)
)

9 0 1

In [206]:
print(1, 2, 3, sep=', ')

1, 2, 3

# Booleanos

In [30]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [32]:
def votar(edad):
    return edad >= 18
print('Alguien de 16 años puede votar?:', votar(16))
print('Alguien de 23 años puede votar?:', votar(23))

Alguien de 16 años puede votar?: False
Alguien de 23 años puede votar?: True

In [208]:
3 == 3

True

In [34]:
3.0 == 3

True

In [35]:
'3' == 3

False

In [39]:
print(bool(1))
print(bool(0))
print(bool("hola"))
print(bool(""))

True
False
True
False

# Condicionales

| Operation     | Description                       || Operation     | Description                          |
|---------------|-----------------------------------||---------------|--------------------------------------|
| ``a == b``    | ``a`` equal to ``b``              || ``a != b``    | ``a`` not equal to ``b``             |
| ``a < b``     | ``a`` less than ``b``             || ``a > b``     | ``a`` greater than ``b``             |
| ``a <= b``    | ``a`` less than or equal to ``b`` || ``a >= b``    | ``a`` greater than or equal to ``b`` |

In [37]:
def condicional(x):
    if x == 0:
        print(x, "es cero")
    elif x > 0:
        print(x, "es positivo")
    elif x < 0:
        print(x, "es negativo")
    else:
        print(x, "es algo que nunca he visto D:")

condicional(0)
condicional(-15)
condicional(7)

0 es cero
-15 es negativo
7 es positivo

# List

In [43]:
lista = [2, 3, 5, 7]
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(lista)
planetas

[2, 3, 5, 7]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [45]:
manos_1 = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'] 
]

manos_2 = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

print(manos_1)
print(manos_2)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [46]:
import numpy as np

manos_1 = np.array([
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], 
])

print(manos_1)

[['J' 'Q' 'K']
 ['2' '2' '2']
 ['6' 'A' 'K']]

In [210]:
random = [32, 'raindrops on roses', help]
print(random)

[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

list

## Indices

In [61]:
planetas

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [52]:
planetas[0]

'Mercury'

In [53]:
planetas[1]

'Venus'

In [54]:
planetas[-1]

'Neptune'

In [55]:
planetas[-2]

'Uranus'

## Slicing

In [60]:
planetas

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [56]:
planetas[0:3]

['Mercury', 'Venus', 'Earth']

In [58]:
planetas[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [59]:
planetas[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [211]:
planetas[:-3]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [67]:
planetas[3] = 'Namekusei'
planetas

['Mercury',
 'Venus',
 'Earth',
 'Namekusei',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [68]:
planetas[:3] = ['Mur', 'Vee', 'Ur']
print(planetas)
# That was silly. Let's give them back their old names
planetas[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
print(planetas)

['Mur', 'Vee', 'Ur', 'Namekusei', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [66]:
len(planetas)

8

In [69]:
sorted(planetas)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [70]:
num = [2, 3, 5, 7]
sum(num)

17

In [71]:
max(num)

7

In [217]:
planetas.append('Pluton')
planetas

['Mercury',
 'Venus',
 'Earth',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluton']

In [218]:
planetas.pop()

'Pluton'

In [214]:
planetas.remove('Mars')

In [215]:
planetas

['Mercury', 'Venus', 'Earth', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [76]:
planetas.index('Earth')

2

In [212]:
planetas[2]

'Earth'

In [78]:
"Earth" in planetas

True

In [79]:
"Pluton" in planetas

False

# Tuplas

In [82]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [83]:
t = 1, 2, 3 # equivalente
print(t)

(1, 2, 3)

In [220]:
t,b,n = 1,2,3
print(t)
print(b)
print(n)

(1, 2, 3)
2
3

In [222]:
a,b,c = t
print(a)
print(b)
print(c)

1
2
3

In [85]:
t[0]

1

In [84]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [223]:
x = 0.0324
x.as_integer_ratio()

(2334666046828865, 72057594037927936)

In [95]:
numerador, denominador = x.as_integer_ratio()
print(numerador / denominador)

0.125

In [228]:
lista =[1,2,3]

In [229]:
lista[1]-lista[0]

1

In [96]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

# Loops

In [102]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planeta in planetas:
    print(planeta, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [236]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for i in range(4,len(planetas)):
    print(planetas[i])

Jupiter
Saturn
Uranus
Neptune

In [101]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planeta in planetas:
    print(planeta, end=', ')

Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune,

In [104]:
multiplicar = (2, 2, 2, 3, 3, 5)
p = 1
for multi in multiplicar:
    p = p * multi
p

360

In [105]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [106]:
for i in range(5):
    print("Trabajo. i =", i)

Trabajo. i = 0
Trabajo. i = 1
Trabajo. i = 2
Trabajo. i = 3
Trabajo. i = 4

## While

In [107]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [108]:
i = 0
while i < 10:
    print(i, end=' ')
    i = i + 1

0 1 2 3 4 5 6 7 8 9

In [109]:
cuadrados = [n**2 for n in range(10)]
cuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
cuadrados = []
for n in range(10):
    cuadrados.append(n**2)
cuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [114]:
planetas_1 = [planeta for planeta in planetas if len(planeta) < 6]
planetas_1

['Venus', 'Earth', 'Mars']

In [115]:
planetas_2 = [planeta for planeta in planetas if len(planeta) >= 6]
planetas_2

['Mercury', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [237]:
mayus = [
    planeta.upper() + '!' 
    for planeta in planetas 
    if len(planeta) < 6
        ]
mayus

['VENUS!', 'EARTH!', 'MARS!']

In [119]:
[
    planeta.upper() + '!' 
    for planeta in planetas 
    if len(planeta) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [120]:
[32 for planeta in planetas]

[32, 32, 32, 32, 32, 32, 32, 32]

In [122]:
planetas

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [238]:
def negativos(nums):
    """Devuelve el número de números negativos en la lista dada.
    
    >>> negativos([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative += 1
    return n_negative

In [239]:
lista = [3, -7, -2, 1, 7, -12]
negativos(lista)

3

In [127]:
def contar_negativos(nums):
    return len([num for num in nums if num < 0])

In [128]:
contar_negativos(lista)

3

In [129]:
def contar_negativos_optimo(nums):
    return sum([num < 0 for num in nums])

In [130]:
contar_negativos_optimo(lista)

3

In [131]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Strings

In [132]:
x = 'Pluton es un planeta'
y = "Pluton es un planeta"
x == y

True

In [133]:
print("El chileno no te pega:")
print('Te saca la "chucha"')

El chileno no te pega:
Te saca la "chucha"

In [136]:
'Te saca la "chucha"'

'Te saca la "chucha"'

In [138]:
"Te saca la 'chucha'"

"Te saca la 'chucha'"

In [139]:
"Te saca la "chucha""

SyntaxError: invalid syntax (Temp/ipykernel_31300/3697633980.py, line 1)

In [135]:
'Te saca la 'chucha''

SyntaxError: invalid syntax (Temp/ipykernel_31300/2871848706.py, line 1)

In [140]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [141]:
hello = "Hello\nWorld" #\n
print(hello)

Hello
World

In [242]:
triple_hello = """Hello
World"""
print(triple_hello)
print(triple_hello == hello)
print('')

triple_hello = """hello
world"""
print(triple_hello)
print(triple_hello == hello)

Hello
World
True

hello
world
False

In [148]:
print("hello")
print("world")
print("hello", end='')
print("pluto")

hello
world
hellopluto

In [149]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [151]:
# Indice
planeta = 'Marte'
planeta[0]

'M'

In [152]:
# Slicing
planeta[-3:]

'rte'

In [153]:
len(planeta)

5

In [155]:
planeta[0] = 'B'

TypeError: 'str' object does not support item assignment

In [158]:
empanadas = "Empanadas"
empanadas.upper() + '!'

'EMPANADAS!'

In [159]:
empanadas.lower()

'empanadas'

In [163]:
empanadas.index('p')

2

In [245]:
frase = 'Se acerca sed-tiembre'
separar = frase.split()
separar

['Se', 'acerca', 'sed-tiembre']

In [246]:
dia = '2022-08-26'
año, mes, dia = dia.split('-')
print(año)
print(mes)
print(dia)

2022
08
26

In [169]:
'/'.join([mes, dia, año])

'08/26/2022'

In [171]:
' 👏 '.join([palabra.upper() for palabra in separar])

'SE 👏 ACERCA 👏 SED-TIEMBRE'

In [172]:
planeta + ', te extrañamos.'

'Marte, te extrañamos.'

# Diccionarios

In [247]:
numeros = {'uno':1, 'dos':2, 'tres':3, 4:'cuatro'}

In [249]:
numeros['tres']

3

In [176]:
numeros['once'] = 11
numeros

{'uno': 1, 'dos': 2, 'tres': 3, 'once': 11}

In [177]:
numeros['uno'] = 'Chile'
numeros

{'uno': 'Chile', 'dos': 2, 'tres': 3, 'once': 11}

In [178]:
planetas = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
inicial = {planeta: planeta[0] for planeta in planetas}
inicial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [179]:
'Saturn' in inicial

True

In [180]:
for k in numeros:
    print("{} = {}".format(k, numeros[k]))

uno = Chile
dos = 2
tres = 3
once = 11

In [181]:
' '.join(sorted(inicial.values()))

'E J M M N S U V'

# Librerias

In [183]:
import pandas

In [184]:
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [185]:
import pandas as pd

In [186]:
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [190]:
for i in dir(pd):
    print(i)

BooleanDtype
Categorical
CategoricalDtype
CategoricalIndex
DataFrame
DateOffset
DatetimeIndex
DatetimeTZDtype
ExcelFile
ExcelWriter
Flags
Float32Dtype
Float64Dtype
Float64Index
Grouper
HDFStore
Index
IndexSlice
Int16Dtype
Int32Dtype
Int64Dtype
Int64Index
Int8Dtype
Interval
IntervalDtype
IntervalIndex
MultiIndex
NA
NaT
NamedAgg
Period
PeriodDtype
PeriodIndex
RangeIndex
Series
SparseDtype
StringDtype
Timedelta
TimedeltaIndex
Timestamp
UInt16Dtype
UInt32Dtype
UInt64Dtype
UInt64Index
UInt8Dtype
__builtins__
__cached__
__doc__
__docformat__
__file__
__getattr__
__git_version__
__loader__
__name__
__package__
__path__
__spec__
__version__
_config
_hashtable
_is_numpy_dev
_lib
_libs
_np_version_under1p18
_testing
_tslib
_typing
_version
api
array
arrays
bdate_range
compat
concat
core
crosstab
cut
date_range
describe_option
errors
eval
factorize
get_dummies
get_option
infer_freq
interval_range
io
isna
isnull
json_normalize
lreshape
melt
merge
merge_asof
merge_ordered
notna
notnull
offsets
option_context
options
pandas
period_range
pivot
pivot_table
plotting
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_orc
read_parquet
read_pickle
read_sas
read_spss
read_sql
read_sql_query
read_sql_table
read_stata
read_table
read_xml
reset_option
set_eng_float_format
set_option
show_versions
test
testing
timedelta_range
to_datetime
to_numeric
to_pickle
to_timedelta
tseries
unique
util
value_counts
wide_to_long