# Utilidades para limpiar o consolidar datos 
**- Ayudante: Thomas Buddemberg Astudillo**

**- Mail: tbuddemberg@alumnos.uai.cl**

**+56 9 7532 8800**

Veremos algunas funcionalidades de pandas para limpiar y consolidar datos.

In [1]:
import pandas as pd
import numpy as np # Lo usaremos para generar NaNs

## Valores fuera del tipo esperado
Es muy usual encontrar, en fuentes de datos, valores que no corresponden al tipo esperado. Por ejemplo, cuando tenemos una columna de n√∫meros, donde algunos de los elementos son strings.

In [2]:
edad = pd.DataFrame({"Peso (Kg)": [75,"     64",87, 59]},
    index = ["Francisco", "Marta", "Pablo", "Camila"])
edad

          Peso (Kg)
Francisco        75
Marta            64
Pablo            87
Camila           59

In [3]:
edad["Peso (Kg)"] + 100

TypeError: can only concatenate str (not "int") to str

In [4]:
edad.dtypes

Peso (Kg)    object
dtype: object

En estos casos, el atributo `.astype()` nos permite reinterpretar (usualmente transformando) un tipo de dato en otro.

In [5]:
edad["Peso (Kg)"] = edad["Peso (Kg)"].astype(int)
edad

           Peso (Kg)
Francisco         75
Marta             64
Pablo             87
Camila            59

In [6]:
edad["Peso (Kg)"] + 100

Francisco    175
Marta        164
Pablo        187
Camila       159
Name: Peso (Kg), dtype: int32

Pero esto va a funcionar mientras el valor sea transformable. Muchas veces nos encontraremos con casos no trivialmente transformables:

In [7]:
edades = pd.DataFrame({"Peso (Kg)":[75,"LoL",87, 59]},
    index = ["Francisco", "Marta", "Pablo", "Camila"])

In [8]:
edades

          Peso (Kg)
Francisco        75
Marta           LoL
Pablo            87
Camila           59

In [9]:
edades["Peso (Kg)"] = edades["Peso (Kg)"].astype(int)

ValueError: invalid literal for int() with base 10: 'LoL'

En este caso podemos usar `pd.to_numeric()`, el cual es muy flexible y permite decidir qu√© hacer en caso de no poder transformar un dato. En particular podemos usar `errors="coerce"`, lo que insertar√° un `NaN` cuando no pueda convertir al tipo indicado.

In [10]:
pd.to_numeric(edades["Peso (Kg)"], errors="coerce") # Coerce = Obligar

Francisco    75.0
Marta         NaN
Pablo        87.0
Camila       59.0
Name: Peso (Kg), dtype: float64

Con lo que sabemos podemos convertir esos `NaN` en ceros y convertir esa columna en enteros (actualmente esta en float):

In [11]:
pd.to_numeric(edades["Peso (Kg)"], errors="coerce").fillna(0)

Francisco    75.0
Marta         0.0
Pablo        87.0
Camila       59.0
Name: Peso (Kg), dtype: float64

In [12]:
pd.to_numeric(edades["Peso (Kg)"], errors="coerce").fillna(0).astype("int")

Francisco    75
Marta         0
Pablo        87
Camila       59
Name: Peso (Kg), dtype: int32

# Limpiando strings
Adem√°s de n√∫meros incorrectos, muchas veces tendremos textos (strings, categor√≠as o valores nominales), con distintas clases de ruido.

La gran mayor√≠a los podremos limpiar con las funciones de string incluidas en `DataFrame.str`, que son equivalentes a las funciones puras de strings en python. 

Por ejemplo:

In [13]:
Frases = pd.Series([
    "No importan los a√±os de vida, sino la vida de los a√±os",
    "       De las dificultades nacen milagros",
    "###A#l######g###u######nos #bu####s#ca######n u######n ######m#un#######do ######m#√°s b##o####nito, ot##ros lo cr###e#an##",
    "Un buen viajante no tiene planes",
    "S######√© #####tu m####i###########s##mo las ###co##pias### se ve##nden bar##atas"])

In [14]:
Frases

0    No importan los a√±os de vida, sino la vida de ...
1                   De las dificultades nacen milagros
2    ###A#l######g###u######nos #bu####s#ca######n ...
3                     Un buen viajante no tiene planes
4    S######√© #####tu m####i###########s##mo las ##...
dtype: object

In [15]:
Frases.str.replace("#","")

0    No importan los a√±os de vida, sino la vida de ...
1                   De las dificultades nacen milagros
2    Algunos buscan un mundo m√°s bonito, otros lo c...
3                     Un buen viajante no tiene planes
4             S√© tu mismo las copias se venden baratas
dtype: object

Para limpiezas m√°s sofisticadas, siempre podemos definir una funci√≥n en python y aplicarla a toda la columna:

In [16]:
def clean(frases):
    frases = frases.replace("#","")
    frases = "¬°"+frases+"!"
    return frases

Frases.apply(clean)

0    ¬°No importan los a√±os de vida, sino la vida de...
1          ¬°       De las dificultades nacen milagros!
2    ¬°Algunos buscan un mundo m√°s bonito, otros lo ...
3                   ¬°Un buen viajante no tiene planes!
4           ¬°S√© tu mismo las copias se venden baratas!
dtype: object

¬°Nos falt√≥ eliminar los espacios en blanco! Aqu√≠ usaremos `str.strip()`:

In [17]:
Frases.str.strip().apply(clean)

0    ¬°No importan los a√±os de vida, sino la vida de...
1                 ¬°De las dificultades nacen milagros!
2    ¬°Algunos buscan un mundo m√°s bonito, otros lo ...
3                   ¬°Un buen viajante no tiene planes!
4           ¬°S√© tu mismo las copias se venden baratas!
dtype: object

In [92]:
profesores = pd.read_csv('Profesores_UAI.csv')
profesores

,Unnamed: 0,Profesor,T√≠tulo,Sala,Sede
0,0,Rod0lfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n
1,1,S@amuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,NaN,Pe√±alol√©n
2,0,Francisco Duque,Master of Energy Systems,103-D,Pe√±alol√©n
3,1,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n
4,2,Eduardo Moreno,PhD Sciences of Engineering,304a-D,Pe√±alol√©n
5,3,Luis Aburto,Doctor en Sistemas de Ingenier√≠a,311-D,Pe√±alol√©n
6,4,Viviana Barile,Doctora en Matem√°ticas,315-D,Pe√±alol√©n
7,5,Sebasti√°n Moreno,PhD in Computer Science,212-A,Vi√±a del Mar
8,6,Hugo Caerols,Doctor en Ciencias exactas con Menci√≥n en Mate...,310-D,Pe√±alol√©n
9,7,Rafael Cereceda,Mag√≠ster en Ingenier√≠a de Negocios con menci√≥n...,322-D,Pe√±alol√©n
10,8,Moreno Bevilacqua,PhD en Estad√≠stica,NaN,Vi√±a del Mar
11,9,Florencia Darrigrandi,Mag√≠ster en Estad√≠stica,210-D,Pe√±alol√©n
12,10,Felipe Lagos,Ph.D en Investigaci√≥n de Operaciones,NaN,Pe√±alol√©n
13,11,Samuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,NaN,Pe√±alol√©n
14,12,Thomas Ledger,Doctor en Gen√©tica Molecular y Microbiolog√≠a,302-E,Pe√±alol√©n
15,13,Javier Lopatin,Doctor en Recursos Naturales,NaN,Pe√±alol√©n
16,14,Rodolfo Abanto,Master in Statistics,323-D,Pe√±alol√©n
17,15,Viviana Barile,PhD in Mathematics,315-D,Pe√±alol√©n
18,16,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,310-E,Pe√±alol√©n
19,17,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n

In [93]:
profesores.drop(columns='Unnamed: 0', inplace=True)
profesores.columns

Index(['Profesor', 'T√≠tulo', 'Sala', 'Sede'], dtype='object')

# Arreglar datos

In [87]:
profesores.head(2)

         Profesor                                T√≠tulo   Sala       Sede
0  Rod0lfo Abanto               Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n
1   S@amuel Varas  PhD en Tecnolog√≠as de la Informaci√≥n    NaN  Pe√±alol√©n

Esto es f√°cil de detectar ya que son **pocos datos**, pero si tuviesemos muchos datos?

In [88]:
lista = ['1', '2','3','4','5','6','7','8','9','0','@','/','_','-','+','='] # etc

In [94]:
for j in profesores['Profesor']:
    for i in lista:
        if j.find(i) == -1:
            pass
        else:
            eliminar = profesores['Profesor'][profesores['Profesor'] == j].index
            print(f'\n{eliminar}')
            print(f'{profesores[profesores["Profesor"] == j]}')
            profesores = profesores.drop(eliminar)

Int64Index([0], dtype='int64')
         Profesor                   T√≠tulo   Sala       Sede
0  Rod0lfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

Int64Index([1], dtype='int64')
        Profesor                                T√≠tulo Sala       Sede
1  S@amuel Varas  PhD en Tecnolog√≠as de la Informaci√≥n  NaN  Pe√±alol√©n

In [74]:
profesores

,Profesor,T√≠tulo,Sala,Sede
2,Francisco Duque,Master of Energy Systems,103-D,Pe√±alol√©n
3,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n
4,Eduardo Moreno,PhD Sciences of Engineering,304a-D,Pe√±alol√©n
5,Luis Aburto,Doctor en Sistemas de Ingenier√≠a,311-D,Pe√±alol√©n
6,Viviana Barile,Doctora en Matem√°ticas,315-D,Pe√±alol√©n
7,Sebasti√°n Moreno,PhD in Computer Science,212-A,Vi√±a del Mar
8,Hugo Caerols,Doctor en Ciencias exactas con Menci√≥n en Mate...,310-D,Pe√±alol√©n
9,Rafael Cereceda,Mag√≠ster en Ingenier√≠a de Negocios con menci√≥n...,322-D,Pe√±alol√©n
10,Moreno Bevilacqua,PhD en Estad√≠stica,NaN,Vi√±a del Mar
11,Florencia Darrigrandi,Mag√≠ster en Estad√≠stica,210-D,Pe√±alol√©n
12,Felipe Lagos,Ph.D en Investigaci√≥n de Operaciones,NaN,Pe√±alol√©n
13,Samuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,NaN,Pe√±alol√©n
14,Thomas Ledger,Doctor en Gen√©tica Molecular y Microbiolog√≠a,302-E,Pe√±alol√©n
15,Javier Lopatin,Doctor en Recursos Naturales,NaN,Pe√±alol√©n
16,Rodolfo Abanto,Master in Statistics,323-D,Pe√±alol√©n
17,Viviana Barile,PhD in Mathematics,315-D,Pe√±alol√©n
18,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,310-E,Pe√±alol√©n
19,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n

# Duplicados

In [95]:
profesores.duplicated().sum()

1

In [96]:
profesores[profesores.duplicated() == True]

          Profesor                   T√≠tulo   Sala       Sede
19  Rodolfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

In [97]:
profesores[profesores['Profesor'] == 'Rodolfo Abanto']

          Profesor                   T√≠tulo   Sala       Sede
3   Rodolfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n
16  Rodolfo Abanto     Master in Statistics  323-D  Pe√±alol√©n
18  Rodolfo Abanto  Mag√≠ster en Estad√≠stica  310-E  Pe√±alol√©n
19  Rodolfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

## Duplicados por Columna

In [98]:
profesores.columns

Index(['Profesor', 'T√≠tulo', 'Sala', 'Sede'], dtype='object')

In [99]:
profesores[profesores['T√≠tulo'].duplicated() == True]

                 Profesor                   T√≠tulo   Sala       Sede
11  Florencia Darrigrandi  Mag√≠ster en Estad√≠stica  210-D  Pe√±alol√©n
18         Rodolfo Abanto  Mag√≠ster en Estad√≠stica  310-E  Pe√±alol√©n
19         Rodolfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

No muy bueno ya que puede haber profesores con el mismo `Titulo`.

Podemos probar con la `Sala`, ya que no deberian haber dos profesores en una misma sala.

In [100]:
profesores[profesores['Sala'].duplicated() == True]

          Profesor                                T√≠tulo   Sala       Sede
12    Felipe Lagos  Ph.D en Investigaci√≥n de Operaciones    NaN  Pe√±alol√©n
13    Samuel Varas  PhD en Tecnolog√≠as de la Informaci√≥n    NaN  Pe√±alol√©n
15  Javier Lopatin          Doctor en Recursos Naturales    NaN  Pe√±alol√©n
16  Rodolfo Abanto                  Master in Statistics  323-D  Pe√±alol√©n
17  Viviana Barile                    PhD in Mathematics  315-D  Pe√±alol√©n
19  Rodolfo Abanto               Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

Existen profesores sin salas, por lo que no es un buen filtro.

In [101]:
profesores[profesores['Profesor'].duplicated() == True]

          Profesor                   T√≠tulo   Sala       Sede
16  Rodolfo Abanto     Master in Statistics  323-D  Pe√±alol√©n
17  Viviana Barile       PhD in Mathematics  315-D  Pe√±alol√©n
18  Rodolfo Abanto  Mag√≠ster en Estad√≠stica  310-E  Pe√±alol√©n
19  Rodolfo Abanto  Mag√≠ster en Estad√≠stica  323-D  Pe√±alol√©n

**¬°Este si es un buen filtro!**

Ya que logramos identificar los valores duplicados

In [102]:
profesores['Profesor'].drop_duplicates()

2           Francisco Duque
3            Rodolfo Abanto
4            Eduardo Moreno
5               Luis Aburto
6            Viviana Barile
7          Sebasti√°n Moreno
8              Hugo Caerols
9           Rafael Cereceda
10        Moreno Bevilacqua
11    Florencia Darrigrandi
12             Felipe Lagos
13             Samuel Varas
14            Thomas Ledger
15           Javier Lopatin
Name: Profesor, dtype: object

# Valores nulos

In [25]:
profesores.isna().sum()

Profesor    0
T√≠tulo      0
Sala        4
Sede        0
dtype: int64

In [26]:
profesores[profesores.Sala.isna() == True]

             Profesor                                T√≠tulo Sala          Sede
8   Moreno Bevilacqua                    PhD en Estad√≠stica  NaN  Vi√±a del Mar
10       Felipe Lagos  Ph.D en Investigaci√≥n de Operaciones  NaN     Pe√±alol√©n
11       Samuel Varas  PhD en Tecnolog√≠as de la Informaci√≥n  NaN     Pe√±alol√©n
13     Javier Lopatin          Doctor en Recursos Naturales  NaN     Pe√±alol√©n

In [27]:
profesores.Sala.fillna('No posee Sala', inplace=True)

In [ ]:
profesores

,Profesor,T√≠tulo,Sala,Sede
0,Francisco Duque,Master of Energy Systems,103-D,Pe√±alol√©n
1,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n
2,Eduardo Moreno,PhD Sciences of Engineering,304a-D,Pe√±alol√©n
3,Luis Aburto,Doctor en Sistemas de Ingenier√≠a,311-D,Pe√±alol√©n
4,Viviana Barile,Doctora en Matem√°ticas,315-D,Pe√±alol√©n
5,Sebasti√°n Moreno,PhD in Computer Science,212-A,Vi√±a del Mar
6,Hugo Caerols,Doctor en Ciencias exactas con Menci√≥n en Mate...,310-D,Pe√±alol√©n
7,Rafael Cereceda,Mag√≠ster en Ingenier√≠a de Negocios con menci√≥n...,322-D,Pe√±alol√©n
8,Moreno Bevilacqua,PhD en Estad√≠stica,No posee Sala,Vi√±a del Mar
9,Florencia Darrigrandi,Mag√≠ster en Estad√≠stica,210-D,Pe√±alol√©n
10,Felipe Lagos,Ph.D en Investigaci√≥n de Operaciones,No posee Sala,Pe√±alol√©n
11,Samuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,No posee Sala,Pe√±alol√©n
12,Thomas Ledger,Doctor en Gen√©tica Molecular y Microbiolog√≠a,302-E,Pe√±alol√©n
13,Javier Lopatin,Doctor en Recursos Naturales,No posee Sala,Pe√±alol√©n

Otra tarea muy √∫til es romper strings para crear nuevas columnas:

In [ ]:
Nombres = profesores["Profesor"].str.split(expand = True)
Nombres.head()

           0       1
0  Francisco   Duque
1    Rodolfo  Abanto
2    Eduardo  Moreno
3       Luis  Aburto
4    Viviana  Barile

In [ ]:
print(Nombres[Nombres[0].duplicated()])
print(Nombres[Nombres[1].duplicated()])

Empty DataFrame
Columns: [0, 1]
Index: []
           0       1
5  Sebasti√°n  Moreno

In [ ]:
profesores[profesores['Profesor'] == 'Varas']

Empty DataFrame
Columns: [Profesor, T√≠tulo, Sala, Sede]
Index: []

In [ ]:
profesores[Nombres[1] == 'Varas']

,Profesor,T√≠tulo,Sala,Sede
11,Samuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,No posee Sala,Pe√±alol√©n

In [ ]:
profesores[Nombres[1] == 'Moreno']

           Profesor                       T√≠tulo    Sala          Sede
2    Eduardo Moreno  PhD Sciences of Engineering  304a-D     Pe√±alol√©n
5  Sebasti√°n Moreno      PhD in Computer Science   212-A  Vi√±a del Mar

In [ ]:
Salas = profesores["Sala"].str.split("-", expand = True)
Salas

                0     1
0             103     D
1             323     D
2            304a     D
3             311     D
4             315     D
5             212     A
6             310     D
7             322     D
8   No posee Sala  None
9             210     D
10  No posee Sala  None
11  No posee Sala  None
12            302     E
13  No posee Sala  None

In [ ]:
profesores[Salas[1] == 'D']

,Profesor,T√≠tulo,Sala,Sede
0,Francisco Duque,Master of Energy Systems,103-D,Pe√±alol√©n
1,Rodolfo Abanto,Mag√≠ster en Estad√≠stica,323-D,Pe√±alol√©n
2,Eduardo Moreno,PhD Sciences of Engineering,304a-D,Pe√±alol√©n
3,Luis Aburto,Doctor en Sistemas de Ingenier√≠a,311-D,Pe√±alol√©n
4,Viviana Barile,Doctora en Matem√°ticas,315-D,Pe√±alol√©n
6,Hugo Caerols,Doctor en Ciencias exactas con Menci√≥n en Mate...,310-D,Pe√±alol√©n
7,Rafael Cereceda,Mag√≠ster en Ingenier√≠a de Negocios con menci√≥n...,322-D,Pe√±alol√©n
9,Florencia Darrigrandi,Mag√≠ster en Estad√≠stica,210-D,Pe√±alol√©n

In [ ]:
Salas[Salas[1].isnull() == True]

                0     1
8   No posee Sala  None
10  No posee Sala  None
11  No posee Sala  None
13  No posee Sala  None

In [ ]:
profesores[Salas[1].isnull() == True]

,Profesor,T√≠tulo,Sala,Sede
8,Moreno Bevilacqua,PhD en Estad√≠stica,No posee Sala,Vi√±a del Mar
10,Felipe Lagos,Ph.D en Investigaci√≥n de Operaciones,No posee Sala,Pe√±alol√©n
11,Samuel Varas,PhD en Tecnolog√≠as de la Informaci√≥n,No posee Sala,Pe√±alol√©n
13,Javier Lopatin,Doctor en Recursos Naturales,No posee Sala,Pe√±alol√©n

In [ ]:
profesores["Profesor"] + " / " + profesores["Sala"] + ' / ' + profesores['Sede']

0                  Francisco Duque / 103-D / Pe√±alol√©n
1                   Rodolfo Abanto / 323-D / Pe√±alol√©n
2                  Eduardo Moreno / 304a-D / Pe√±alol√©n
3                      Luis Aburto / 311-D / Pe√±alol√©n
4                   Viviana Barile / 315-D / Pe√±alol√©n
5              Sebasti√°n Moreno / 212-A / Vi√±a del Mar
6                     Hugo Caerols / 310-D / Pe√±alol√©n
7                  Rafael Cereceda / 322-D / Pe√±alol√©n
8     Moreno Bevilacqua / No posee Sala / Vi√±a del Mar
9            Florencia Darrigrandi / 210-D / Pe√±alol√©n
10            Felipe Lagos / No posee Sala / Pe√±alol√©n
11            Samuel Varas / No posee Sala / Pe√±alol√©n
12                   Thomas Ledger / 302-E / Pe√±alol√©n
13          Javier Lopatin / No posee Sala / Pe√±alol√©n
dtype: object

## Eliminando duplicados
En la pr√°ctica tendremos datos repetidos, que usualmente querremos eliminar bajo alg√∫n criterio (por ejemplo, quedarnos con el primero o el √∫ltimo de los datos de alg√∫n indetificador).

In [ ]:
datos = pd.DataFrame({
    "x": [5, 11, 24, 11, 28, 11, 8],
    "y": [11, 2, 7, 2, 10, 2,  2]
})
datos

    x   y
0   5  11
1  11   2
2  24   7
3  11   2
4  28  10
5  11   2
6   8   2

In [ ]:
datos.duplicated().sum()

2

In [ ]:
datos.drop_duplicates()

    x   y
0   5  11
1  11   2
2  24   7
4  28  10
6   8   2

In [ ]:
data = pd.DataFrame({
    "x": [6, 1, 21, 5, 9],
    "y": [3, 5, 3, 44, 6]
})
data

    x   y
0   6   3
1   1   5
2  21   3
3   5  44
4   9   6

`drop_duplicates` puede recibir una lista de las columnas donde buscar duplicados para decidir si botar o no la fila.

In [ ]:
data.drop_duplicates(["y"])

   x   y
0  6   3
1  1   5
3  5  44
4  9   6

`keep` es el par√°metro que nos permite indicar qu√© dato queremos que sobreviva (puede ser `'first'`, `'last'` o `False`).

In [ ]:
data.drop_duplicates(["y"], keep='last')

    x   y
1   1   5
2  21   3
3   5  44
4   9   6

### Reemplazando valores
Ya hemos visto `map()`, el m√©todo `replace` cumple una funci√≥n similar. Es menos flexible, pero sint√°cticamente m√°s sencillo:

In [ ]:
monto = pd.DataFrame(
    {"monto": [2, -999, 3, -999, -1000, 5]}
)
monto

   monto
0      2
1   -999
2      3
3   -999
4  -1000
5      5

In [ ]:
monto.replace(-999, np.nan)

    monto
0     2.0
1     NaN
2     3.0
3     NaN
4 -1000.0
5     5.0

In [ ]:
monto.replace([-999,-1000], -1)

   monto
0      2
1     -1
2      3
3     -1
4     -1
5      5

In [ ]:
monto.replace([-999,-1000], [9, 10])

   monto
0      2
1      9
2      3
3      9
4     10
5      5

## Juntar data frames
Otra situaci√≥n muy com√∫n es recibir datos contenidos en distintos dataframes.
### Primer caso: concatenar observaciones

In [ ]:
seccion11 = pd.DataFrame({'Nombre': ['Mauricio', 'Diana'], 
                         'Email': ['mau@uai.cl', 'di@uai.cl']})

seccion2 = pd.DataFrame({'Nombre': ['Carla', 'Alexis', 'Marcela'], 
                         'Email': ['c@uai.cl', 'al@uai.cl', 'mar@uai.cl']})

In [ ]:
seccion1

     Nombre       Email
0  Mauricio  mau@uai.cl
1     Diana   di@uai.cl

In [ ]:
seccion2

    Nombre       Email
0    Carla    c@uai.cl
1   Alexis   al@uai.cl
2  Marcela  mar@uai.cl

In [ ]:
pd.concat([seccion1, seccion2], ignore_index = False) # usar ignore_index = True para resetear index

     Nombre       Email
0  Mauricio  mau@uai.cl
1     Diana   di@uai.cl
0     Carla    c@uai.cl
1    Alexis   al@uai.cl
2   Marcela  mar@uai.cl

In [ ]:
pd.concat([seccion1, seccion2], ignore_index = True)

     Nombre       Email
0  Mauricio  mau@uai.cl
1     Diana   di@uai.cl
2     Carla    c@uai.cl
3    Alexis   al@uai.cl
4   Marcela  mar@uai.cl

¬øQu√© pasa si uno de los dataframes tiene una variable adicional?

In [ ]:
seccion1_1 = pd.DataFrame({'Nombre': ['Mauricio', 'Diana'], 
                           'Email': ['mau@uai.cl', 'di@uai.cl'],
                        'edad': [21, 20]})
seccion1_1

     Nombre       Email  edad
0  Mauricio  mau@uai.cl    21
1     Diana   di@uai.cl    20

In [ ]:
pd.concat([seccion1_1, seccion2])

     Nombre       Email  edad
0  Mauricio  mau@uai.cl  21.0
1     Diana   di@uai.cl  20.0
0     Carla    c@uai.cl   NaN
1    Alexis   al@uai.cl   NaN
2   Marcela  mar@uai.cl   NaN

### Caso 2: juntar data frames seg√∫n una o m√°s columnas en com√∫n

In [ ]:
alumnos = pd.concat([seccion1, seccion2])
alumnos

NameError: name 'seccion1' is not defined

In [ ]:
grupos = pd.DataFrame({'Email': ['mau@uai.cl', 'di@uai.cl', 'c@uai.cl', 'al@uai.cl', 
                                 'mar@uai.cl', 'carlos@uai.cl', 'alejandro@uai.cl'],
                     'Grupo': [2, 3, 1, 5, 
                               3, 3, 2]})
grupos

              Email  Grupo
0        mau@uai.cl      2
1         di@uai.cl      3
2          c@uai.cl      1
3         al@uai.cl      5
4        mar@uai.cl      3
5     carlos@uai.cl      3
6  alejandro@uai.cl      2

In [ ]:
pd.merge(alumnos, grupos, on = 'Email', how = 'inner')

     Nombre       Email  Grupo
0  Mauricio  mau@uai.cl      2
1     Diana   di@uai.cl      3
2     Carla    c@uai.cl      1
3    Alexis   al@uai.cl      5
4   Marcela  mar@uai.cl      3

# Fin